<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/loginpruebas?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    
    <property name="show_sql">true</property>
    <mapping class="pe.fisi.sisdido.model.Docente"/>
<!--         <mapping resource="pe/fisi/sisdido/mapeos/Docente.hbm.xml"/> -->
<!--     <mapping resource="pe/dao/Tipocontrato.hbm.xml"/> -->
<!--     <mapping resource="pe/dao/Curso.hbm.xml"/> -->
<!--     <mapping resource="pe/dao/Escuela.hbm.xml"/> -->
<!--     <mapping resource="pe/dao/Disponibilidad.hbm.xml"/> -->
<!--     <mapping resource="pe/dao/CursoHasDocente.hbm.xml"/> -->
  </session-factory>
</hibernate-configuration>
